@font-face {
    font-family: 'Mulish Black';
    src: url(../fonts/Mulish-Black.ttf);
}

@font-face {
    font-family: 'Mulish Regular';
    src: url(../fonts/Mulish-Regular.ttf);
}

@font-face {
    font-family: 'Mulish Bold';
    src: url(../fonts/Mulish-Bold.ttf);
}



h2{
    font-family: 'Mulish Regular';
     color: #0a2ff1;
     font-size: 30pt;
}


h1{
     font-family: 'Mulish Black';
     color: #0a2ff1;
     font-size: 60pt;
}


p{ 
    font-family: 'Mulish Regular';
    color: #04146c;
    font-size: 20pt;
}

strong{
    font-family: 'Mulish Bold';
}

button{
    background-color: #0a2ff1;
    width: 400px;
    height: 70px;
    border-color: #0a2ff1;

    
}

.parrafo01{
    width: 151px;
    margin-left: 100px;
    margin-top: -8px;
}

#parrafo01{
    color: white;
}










